/* root */

html {
font-family: 'Mukta', sans-serif;
font-size: 62.5%; /* 10px */
line-height: normal;
}

:root {
    --main-color: #EA9010;
    --second-color: #37371F;
    --third-color: #3A4042;
    }

/* queries */

    @media (max-width: 768px) {
        html {
            font-size: 46.875%; /* 7.5px */
        }
        img {
            max-width: 3rem;
            max-height: 3rem;
        }
    }
    
    @media (max-width: 425px) {
        html {
            font-size: 31.25%; /* 5px */
        }
        img {
            max-width: 3rem;
            max-height: 3rem;
        }
    }

/* header */

.logo:hover {
    transform: scale(1.1);
}

.main-header {
    background-color: var(--second-color);
    padding: 1rem 0;
    width: 100%;
    border-bottom: 1rem solid #000;
}

.main-action, .download-button {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    margin-right: 2rem;
}

.download-button {
    background-color: var(--main-color);
    padding: 0 1rem;
    box-shadow: 0.5rem 0.5rem 0.2rem #000;
}

.download-button:hover {
    color: var(--main-color);
    background-color: #fff;
}

.main-action::before {
    content: "";
    background-color: var(--main-color);
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;   
}

