/*======= ROOT ========*/

html {
font-family: 'Mukta', sans-serif;
font-size: 62.5%; /* 10px */
line-height: normal;
}

h2 {
    text-align: center;
    padding-top: 3rem;
}

h2, h3 {
    margin: 0;
}

:root {
    --main-color: #EA9010;
    --second-color: #37371F;
    --third-color: #3A4042;
    }


/*======= HEADER =======*/

.header-container {
    display: flex;
    justify-content: space-between;
    height: 6rem;
    align-items: center;
    background-color: var(--second-color);
    width: 100%;
    border-bottom: 1rem solid #000;
}

.header-container img {
    margin-left: 2rem;
    transform: translate(0rem, 0.2rem); 
}

.menu-section {
    width: 65%;
}

.menu-section nav {
    margin-right: 2rem;
}

.menu-section nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
}

.menu-section nav ul li {
    display: inline-flex;
    align-items: center;
}

.menu-section nav ul li a {
    color:#fff;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.menu-section nav ul li::before {
    content: "";
    background-color: var(--main-color);
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
}

.main-button {
    align-items: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    background-color: var(--main-color);
    padding: 0 1rem;
    box-shadow: 0.5rem 0.5rem 0.2rem #000;
    transition: 0.8s;
}

.main-button:hover {
    color: var(--main-color);
    background-color: #fff;
}

/*======== BANNER ========*/

.main-banner {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 1rem solid var(--main-color);
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 8.5rem;
}

.main-banner .banner-container {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
}

.main-banner .main-box {
    margin-bottom: 2rem;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-between;
    }

/*======= MAIN-BOX =======*/

.main-box {
    display: inline-block;
    background-color: var(--third-color);
    box-shadow: 0.7rem 0.7rem 0rem #000;
    text-align: center;
    padding: 1.5rem 0;
    transition: 0.8s;
}

.main-box:hover {
    transform: scale(1.1);
}

/*======= MAIN-TITLE =======*/

.main-title {
    font-size: 3.6rem;
    color: var(--main-color);
    text-shadow: 0.3rem 0.3rem 0rem #000;
    padding-top: 0;
}

/*======= MAIN-SUBTITLE =======*/

.main-subtitle {
    text-shadow: 0.3rem 0.3rem 0rem #000;
    font-size: 3rem;
    color: #fff;
}


.main-button.-banner {
    display: inline-block;
    line-height: 6rem;
    height: 6rem;
    font-size: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0.5rem 0.5rem 0rem #000000;
    margin-right: 0;
}

/*======= SKILLS-SECTION =======*/

.main-skills {
    border-bottom: 1rem solid var(--third-color);
}

.main-skills h2 {
    color: var(--second-color);
    font-size: 6rem;
    text-shadow: none;
    }

.skills-section {
    display: flex;
    justify-content: center;
}

/* skills-container */

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
    max-width: 100rem;
}

/* skills-tec */

.skills-tec {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.skills-tec .title {
    margin-bottom: 0.5rem;
    color: #fff;
    background-color: #000;
    font-size: 3rem;
    padding-left: 1rem;
}

/* progress-bar */

.progress-bar {
    width: 40rem;
    background-color: #fff;
    border: 0.5rem solid #000;
    height: 4rem;
    box-sizing: border-box;
}

.progress-bar::-webkit-progress-value {
    background-color: var(--main-color)
}

.progress-bar::-webkit-progress-bar {
    background-color: #fff;
}

/*======= Progress Bar =======*/
.animation-bar {
    width: 39rem;
    position: relative;
    display: block;
    padding: 5px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 30px;
    background: rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.8);
}

.animation-bar span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    background-color: #f56982;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #f2395a, #b90c2b);
    animation: progress-bar 6s infinite ease;
}

.animation-bar span::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-size: 100%;
    background-image: linear-gradient(45deg, #fff 25%, 
                                                rgba(0,0,0,0) 25%,
                                                rgba(0,0,0,0) 50%,
                                                #fff 50%,
                                                #fff 75%,
                                                rgba(0,0,0,0) 75%,
                                                rgba(0,0,0,0));
    background-size: 30px 30px;
    opacity: 0.3;
    animation: progress-bar-after 0.5s infinite linear;
}

@keyframes progress-bar {
    0% {
        width: 0%;
    }
    100% {
        width: 95%;
    }
}

@keyframes progress-bar-after {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 30px 100%;
    }
}

/*======= Progress Bar 2 =======*/

.animation-bar2 {
    width: 40rem;
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 16px;
    background: rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.25), 0 1px rgba(255,255,255,0.8);
}

.animation-bar2 span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    background-color: #00e6e7;
    background-size: 100%;
    background-image: linear-gradient(to bottom, #00b3b4, #008081);
    animation: progress-bar2 12s infinite ease;
}

.animation-bar2 span::before {
    position: absolute;
    right: 0;
    bottom: 100%;
    display: inline-block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-color: rgba(0,0,0,1);
    content: "";

}

.animation-bar2 span::after {
    position: absolute;
    right: 0;
    bottom: calc(100% + 5px);
    z-index: 1;
    display: inline-block;
    content: attr(data-label);
    padding: 5px;
    border-radius: 3px;
    font-size: 1rem;
    background-color: rgba(0,0,0,1);
    color: #fff;
}

@keyframes progress-bar2 {
    0% {
        width: 5%;
    }
    100% {
        width: 100%;
    }
}


/*======= PROJECTS =======*/


.main-project {
    background-color: var(--second-color);
}
.main-project h2 {
    color: #fff;
    font-size: 6rem;
    text-shadow: none;
}

/* card-container */

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 8rem 0;
    margin-top: 3rem;
    border-bottom: 1rem #000 solid;
    
}

.card-container a {
    width: 32rem;
    max-width: 160px;
    margin: auto;
    text-decoration: none;
    margin-bottom: 4rem; 
}

.card-container figure {
    margin: 0;
    position: relative;
    max-width: 16rem;
    text-align: center;
}

.card-container figure figcaption {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    color: #fff;
    width: 100%;
    height: 100%;
    max-height: 16rem;
    opacity: 0;
    transition-duration: 0.8s;
}

.card-container figure:hover figcaption {
    opacity: 1;
}


/*======= ABOUT =======*/

.main-about h2 {
    color: var(--main-color);
    font-size: 6rem;
    text-shadow: none;
}

.main-description {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.3;
    text-indent: 4rem;
    padding-right: 5rem;
    margin-bottom: 5rem;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1rem var(--second-color) solid;
}

/*======= CONTACT =======*/

.main-form {
    background-color: var(--main-color);
    border-bottom: 1rem #000 solid;
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
}

.main-form .main-title {
    color: #fff;
    font-size: 6rem;
    text-shadow: none;
}

.main-form .main-input {
    margin-bottom: 2rem;
}

.main-form .main-input.-textarea {
    margin-bottom: 2rem;
}

#status {
    width: 95%;
    text-align: center;
    margin: 1rem;
    border-radius: 8rem;
}

#status.success {
    background-color: rgb(211, 250, 153);
    animation: status 4s ease forwards;
}

#status.error {
    background-color: rgb(250, 129, 92);
    color: #fff;
    animation: status 4s ease forwards;
}

.main-button.-form-submit {
    background-color: #37371F;
    width: 100%;
    padding: 1rem 0.2rem;
    cursor: pointer;
}

.main-button.-form-submit:hover {
    background-color: #37371F;
    color: #fff
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}


/* main-label */

.main-label {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
    line-height: 4rem;
}


/* main-input */

.main-input {
    box-sizing: border-box;
    border: 0.3rem solid #000;
    width: 100%;
    font-size: 1.8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.main-input.-textarea {
    height: 32rem;
    resize: none;
}

/*======= QUERIES =======*/

@media (max-width: 768px) {
    html {
        font-size: 46.875%; /* 7.5px */
    }

/* header */

    .header-container img {
        max-width: 3rem;
        max-height: 3rem;
    }

/* cards */

    .card-container figure figcaption {
        position: inherit;
        opacity: 1;
        width: 32rem;
        max-width: 160px;
        background-color: #000;
    }

}

@media (max-width: 600px) {
    
    html {
        font-size: 31.52%; /* 5px */
    }
    
    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: #fff;
        height: 0.5rem;
        width: 100%;
        margin: 0.4rem auto;
        transition-duration: 0.3s;
    }

    .menu-section {
        width: auto;
    }

    .menu-toggle {
        width: 5rem;
        height: 2.7rem;
        margin-right: 2rem;
    }

    /* fullscreen */

    .menu-section.on {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--main-color);
        z-index: 10;
    }

    .menu-section.on nav {
        display: block;
    }

    .menu-section.on .menu-toggle {
        position: absolute;
        right: 0;
        top: 1.3rem
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(4px, 4px);
    }
    
    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(2px, -3px);
    }

    .menu-section.on nav ul {
        display: block;
    }

    .menu-section.on nav ul li {
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a {
        transition-duration: 0.5s;
        font-size: 5rem;
    }

    .main-action {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    nav .main-button {
        display: none;
    }
}

@media (max-width: 380px) {
    .main-banner {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 4rem;
    }

    .about-container {
        display: block;
        text-align: center;
    }

    .main-description {
        padding: 0;
    }

}